.conteinerCategorias {
  display: flex;
}
.cardProductosCategoria {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.colDetalle {
  display: flex;
}
.imgDetalle {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

