.conteinerCategorias{
  display: flex;
}
.cardProductosCategoria{
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.colDetalle {
    display: flex;
}
.imgDetalle {
  justify-content: center;
  align-items: center;
  text-align: center;
  align-content: center;
}

.filaVerProducto{
  display: flex;
}

.botonVerProducto{
  justify-content: center;
  align-items: center;
}

.tablaProductos{
  text-align: center;
  align-content: center;
}


.padreAdmin{
  display: flex;
  flex-direction:row;
  
}

.botonModalAgregar{

  align-self:flex-end;

}

