

.nav {
    background-color:rgb(209, 209, 212) !important;
    border-color: rgb(209, 209, 212);
  }

  .cards-container{
    background-color:#FEFEFE ;
    max-width: 100%;
    
  }

  /* pagina categorias productos */

  .offcanvasFiltros {
    max-width: 55% !important;
    width: 300px !important;
  }
  
  .container-filtro{
    display: flex;
    justify-content:flex-end;
  }
  


  /* admin productos */

  .filaVerProducto {
    display: flex;
    justify-content: center;
  }
  
  .botonVerProducto {
    justify-content: center;
    align-items: center;
    background-color: #E95821 !important;
  }
  
  .tablaProductos {
    text-align: center;
    align-content: center;
  }
  
  .padreAdmin {
    display: flex;
    justify-content: flex-end;
  }
  
  .botonModalAgregar {
    align-self: flex-end;
  }
  
  .container-agregar-producto{
    display: flex;
    justify-content:flex-end;
  }
  
  .back-tabla-listado{
    background-color: #E95821 !important;
}

.celdasTabla{
  display: flex;
  justify-content:center;
  align-items:center;
}

.boton-agregar-producto{

        border-radius: 20px !important;
        /* font-size: 1rem !important; */
        background-color: #E95821 !important;
        cursor: pointer;
        color: white;
}
.boton-agregar-producto:hover{
  background-color: #ffff !important;
  color: #E95821!important;
  box-shadow: inset #E95821;
  box-shadow: 0 4px 16px #E95821;
  transition: all 0.2s ease;
  border-color: #E95821 !important;
  }

