.fondobox{
    background-color: #E95821;
}

.horariosletra{
    margin-block: 25px;
    color:#ffffff;
    text-align: center;
}

.boxeoletra {
    margin-block: 25px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.accordion .item .accordion-header button{
    background-color: transparent;
    box-shadow: none;
    font-size: 1rem;
    letter-spacing: .125rem;
    line-height: 1.375rem;
    color: #E95821;
    font-weight: 700;
    vertical-align: middle;
    position: relative;
}