.fondobox{
    background-color: #E95821;
}

.horariosletra{
    color:#ffffff;
    text-align: center;
    text-overflow: clip;
}

.boxeoletra {
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}
.h3 {
    font-family: Arial, Helvetica, sans-serif
}