.textarea-chat {
    font-size: 1.2rem !important;
    border-radius: 10px;
    background-color: #ffff;
    padding: 0.5rem;
    box-shadow: 0 -2px 2px #E95821;
    width: 15rem;
    height: 8rem;
}

.color-boton-planes{
    background-color: #E95821 !important;
    border: #E95821 !important;
}

.card-estilo-planes{
    border-color: #E95821 !important;
}