.textarea-chat {
    font-size: 1.2rem !important;
    border-radius: 10px;
    background-color: #ffff;
    padding: 0.5rem;
    box-shadow: 0 -2px 2px #E95821;
    width: 15rem;
    height: 8rem;
}

.color-boton-planes{
    background-color: #E95821 !important;
    border: #E95821 !important;
}

.card-estilo-planes{
    border-color: #E95821 !important;
}


.button-agregar-planes{

    border-radius: 20px !important;
    /* font-size: 1rem !important; */
    background-color: #E95821 !important;
    cursor: pointer;
    color: white;
}

.button-button-agregar-planes{
    background-color: #ffff !important;
    color: #E95821!important;
    box-shadow: inset #E95821;
    box-shadow: 0 4px 16px #E95821;
    transition: all 0.2s ease;
    border-color: #E95821 !important;
    }

.container-agregar-plan{
    display: flex;
    justify-content:flex-end;
}