ody{
background-color: #2b2a29;
}
.errorP {
 
  gap: 2rem;
  padding: 2rem;
  background-color: #2b2a29;
  min-height: 100vh;
  display: flex;
  
  justify-content: center;
  align-self: center;
  align-content: center;
}
.errorHeader {
  display: flex;
  
  justify-content: center;
  align-self: center;
  align-content: center;
  font-weight: bold;
  font-size: 5rem;
  color: #fefefe;
  
  
}
